body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
}
.Characters{
  width: 90%;
  display: grid;
  grid-gap: 15px;
  margin: 0 auto;
  grid-template-columns: repeat(4,1fr);
}
.Character{
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -1px 15px -6px #000000;
  border-radius: 10px;
}
.Character img{
  border-radius: 10px 10px 0 0;
}
.Character button{
  width: 120px;
  height: 40px;
  font-weight: bold;
  background: #fed049;
  box-shadow: 0px 3px 15px -2px #FED049;
  border-style: none;
  border-radius: 10px;
}
.favorites-container{
  width: 200px;
  height: auto;
  max-height: 200px;
  overflow-x: auto;
  padding-bottom: 10px;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 10px;
  list-style: none;
  color: white;
  text-align: center;
}
.favorites-container h2{
  margin: 0px;
  color: #FED049;
}

/* SEARCH */
.search-container{
  margin-bottom: 25px;
}
.search-container h3{
  margin: 0;
}
.search-container input {
  height: 25px;
  border-radius: 10px;
  border-style: none;
  border: 2px solid black;
  outline: none;
}
/* DARK */
.dark{
  background-color: #323232;
  color: whitesmoke;
}

.darkHeader h1{
  margin-top: 0px;
  text-decoration: none;
  color: whitesmoke;
}
.characterDark{
  background-color: #000000;
  color: white;
}
.bDark{
  width: 120px;
  height: 30px;
  margin: 20px 0 20px 0;
  background-color: aliceblue;
  color: #000000;
  font-weight: 700;
  border-style: none;
  outline: none;
  border-radius: 10px;
}



/* WHITE */
.white{
  background-color: #eeeeee;
  color: #323232;
}
.whiteHeader h1{
  margin-top: 0px;
  text-decoration: none;
  color: #323232;
}

.whiteCharacter{
  background-color: #323232;
  color: white;
}
.bWhite{
  width: 120px;
  height: 30px;
  margin: 20px 0 20px 0;
  background-color: #000000;
  color: aliceblue;
  font-weight: 700;
  border-style: none;
  outline: none;
  border-radius: 10px;
}

/* SCROLLBAR */
::-webkit-scrollbar{
  width: 25px;
}
::-webkit-scrollbar-track{
  border: 7px black solid;
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background-color: #fed049;
  border-radius: 3px;
  box-shadow: -4px 0px 38px -6px #FED049;
}

/* LOADING CSS */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fed049;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}




.link{
  text-decoration: none;
  color: white;
}